__pycache__
figures/
.ipynb_checkpoints/
*.p
build/
dist/
permittivitycalc.egg-info/
.coverage
.pytest_cache/
coverage.xml
miniconda.sh
docs/_build
docs/_static
docs/_templates
docs/make.bat
docs/Makefile
